<template>
    <div class="container-fluid">
        <h1>Fill in your quotes</h1>
        <div class="row">
            <div class="col-md-6">
                <label>Fill in the quote</label>
                <form class="form-group" submit.trigger="addSpeechLine()" show.bind="fillInSpeech">
                    <input type="text" class="form-control speech" focus.bind="focusSpeech" placeholder="author"  value.bind="speech.author">
                    <input type="text" class="form-control speech" placeholder="speech"  value.bind="speech.content">
                    <input type="submit" class="hidden btn btn-info">
                </form>
                <form class="form-group" submit.trigger="addContextLine()" show.bind="!fillInSpeech">
                    <input type="text" class="form-control context" focus.bind="focusContext" placeholder="author" value.bind="context.author">
                    <input type="text" class="form-control context" placeholder="context"  value.bind="context.content">
                    <input type="submit" class="hidden btn btn-info">
                </form>
                <form class="form-group">
                    <input type="submit" class="btn btn-info" value="Submit your quote">
                </form>
            </div>
            <div class="col-md-6">
                <label>The conversation</label>
                <ul class="list-group">
                    <li class="list-group-item ${line.type === 'SPEECH'? 'list-group-item-info' : 'list-group-item-warning'}"
                        repeat.for="line of conversation.lines">
                        <em id="author">${line.author}:</em>
                        <span id="content">"${line.content}"</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</template>