conversation p {
  margin: 0px;
}
conversation dl {
  margin: 0px;
}
editable-conversation p {
  margin: 0px;
}
editable-conversation dl {
  margin: 0px;
}

/* Give contenteditable's placeholders */
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
